* {
  margin: 0px;
  padding: 0px;
  font-family: cursive;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("x.png");
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  align-content: center;
}

.grid {
  height: 540px;
  width: 540px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  margin-left: 50px;
  margin-top: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
}

div {
  font-size: 30px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}
.valid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border: 1px solid;
  border-color: black;
  box-sizing: border-box;
  font-size: 30px;
}

.checked {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border: 1px solid;
  background-color: rgb(0, 247, 255);
  border-color: black;
  box-sizing: border-box;
}

.bomb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border: 1px solid;
  border-color: black;
  box-sizing: border-box;
  font-size: 30px;
}

.one {
  color: rgb(0, 0, 0);
}

.two {
  color: rgb(0, 0, 0);
}

.three {
  color: rgb(0, 0, 0);
}

.four {
  color: rgb(0, 0, 0);
}

#result {
  margin-top: 2px;
  font-size: 60px;
  font-weight: bold;
  color: rgb(255, 0, 0);
}
.boom {
  background-color: rgb(255, 0, 0);
}
.direct {
  display: flex;
  flex-direction: column;
}
.useless {
  font-size: 1px;
}
